<div class= "top-nav">
  <h2>Flash Me!</h2> 
  <img src="/bolt.gif" alt="bolt" width='50px' height='50px'>


<form action="/user/logout" method="get">
<button class="logout" type="submit" formmethod="get"  formaction="/user/logout">Logout</button > </form>

</div>

<h1>Welcome to Flash Me! <%= @user.name %></h1>

<div class="screen">

  <form method="post" action="/round/play">
    <select class="drop_down" name="deck_id">
      <% @decks.each do |deck| %>
      <option  value="<%= deck.id %>" ><%= deck.name %>        -- <%= deck.cards.count %> Cards</option>
      <% end %>
    </select>
    <input class="play" type='submit' value='Play!'>
  </form>


  <br>
</div>
