<div class= "top-nav">
    <h2> <a class="home" href="/user/dashboard">Flash Me!</a></h2>
    <img src="/bolt.gif" alt="bolt" width='50px' height='50px'>
</div>

<h1>Welcome to Flash Me!</h1>
  
  <div class="login">

    <p>Login to your account:</p>

    <% if @message %>
    <p style="color:red"><%= @message %></p>
    <% end %>

    <form id="login_form" action="/user/login" method="post">
      <input type="text" name="email" placeholder="Enter Email"><br><br>
      <input type="password" name="password" placeholder="Enter Password "><br><br>
      <input id="button" type="submit" value="Sign in!">
      <p><a href="/user/new">Create an account</a></p>
    </form>

  </div>
