<div class="container">
  <h1>Welcome to AUTH AMAZING!</h1>
  <p><a href="/user/new">Create an account</a></p>

  <p>Login to your account</p>

  <% if @message %>
    <p style="color:red"><%= @message %></p>
  <% end %>

  <form id="login_form" action="/user/login" method="post">
    <input type="text" name="email" placeholder="Enter Your Email Here:"><br><br>
    <input type="text" name="password" placeholder="Enter Your Password Here:"><br><br>
    <input type="submit" value="Sign in!">
  </form>

 <h1>Here are the public URLs</h1>

  <table>
    <tr>
      <th width="25%">Short Url</th>
      <th width="50%">Long Url</th>
      <th width="25%">Click Count</th>
    </tr>
  <% @urls.each do |url| %>
    <tr>
      <td><%= url.short_address %></td>
      <td><%= url.address %></td>
      <td><%= url.click_count %></td>
    </tr>
  <% end %>
</table>

  <br>
  <a href="/url/new">Create New Short URL</a><br>
</div>
