<div id="card">
  <p>Here is your card:</p>
  <% unless @card.blank? %>
    <%= @card.question %>
    <form action="/round/<%= @round.id %>/card/<%= @card.id %>/submit" method="post">
      <input type="text" name="guess">
      <input type="submit" value="Guess!">
    </form>
  <% end %>

  <a href="/round/<%= @round.id %>/results">QUIT LIKE THE BITCH YOU ARE</a>
</div>
